
// BICYCLE ID
#define BICYCLE_ID "123456"

// WIFI
#define WLAN_SSID  "wifi"
#define WLAN_PASS  "pass"

// MQTT BROKER
#define BROKER_IP  "127.0.0.1"
#define BROKER_PORT 1883
#define CLIENT_NAME "whatever"
#define CLIENT_USERNAME "username"
#define CLIENT_PASSWORD "pass"

// SERVER
#define SERVER_HOST "127.0.0.1"
#define SERVER_PORT = 8000

// GMT LOCATION on Asia/Jakarta
#define GMT 7 

// URL
#define CYCLER_DATA_URL "/api/cycling"
